$gap:1 0px;
$list-bg-color:white;
$column-footer-height:36px;
$column-header-height:36px;
body{
  margin:0;
  line-height:1.3rem;
  font-size:14px;
}
.trello-master
{
  height:100vh;
  display:grid;
  grid-template-rows:40px 50px 1fr;
  background-color:cyan;
  line-height:1.3em;
  padding:100px 600px 300px 100px;

.board-columns{
  display:flex;
  height:130vh;
  width:300vh;
  margin:0 $gap $gap;
 
  overflow-x:auto;


}
  
 
}